<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

    <h1>Bin your link(s)</h1>
    <div class="account-wall">

      <form class="form " action="/notes" method="POST">

      <!-- topic select -->
        <label for="select-topic">Select a topic: </label>
        <select id="topic-multiselect" name="note[topic_ids][]" multiple="multiple">
        <% Topic.all.each do |topic| %>
          <option id="topic_<%=topic.id%>" value="<%=topic.id%>"><%= topic.name %></option>
        <% end %>
        </select>

      <!-- topic create -->
        <div>
          <label for="create-topic">OR</label>
          <input type="text" name="topic[name]" class="form-control" placeholder="Enter topic">
        </div>

      <!-- public toggle -->
        <div class="toggle-wrap">
          <div class="absolute-center">Enable Public Access: </div>
          <div class="slideThree">
            <input type="checkbox" value=true id="slideThree" name="public"/>
            <label for="slideThree"></label>
          </div>
        </div>

      <!-- description, links, content inputs -->
        <label for="description"></label>
        <input type="text" name="description" class="form-control" placeholder="Description" required autofocus>
        <label for="link"></label>
        <input type="text" name="links[]" class="form-control" placeholder="Link" required autofocus>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add Another Link</button>
        </div>
        <label for="content"></label>
        <textarea type="textarea" name="content" class="form-control"  required autofocus></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Bin it</button>
      </form>
      
    </div>

</div> <!-- /.main wrap -->
