<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

    <div class="account-wall">
      <h1>Bin your link(s)</h1>

      <form class="form " action="/notes" method="POST">
        <label for="description"></label>
        <input type="text" name="description" class="form-control" placeholder="Description" required autofocus>
        <label for="link"></label>
        <input id="" type="text" name="link" class="form-control" placeholder="Link" required autofocus>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add Another Link</button>
        </div>
        <label for="content"></label>
        <textarea type="textarea" name="content" class="form-control"  required autofocus></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Bin it</button>
      </form>
      
    </div>

</div> <!-- /.main wrap -->
