/* GENERAL STYLES */
.main.wrap {
  min-height: 450px;
  text-align: center;
}

#footer {
  margin-top: 1em;
  text-align: center;
  border-top: 2px solid #333333;
}

.brand-color {
  color: #008CBA;
  font-weight: bold;
}

/* Layout styles */

.greeting {
  margin-top: 30px;
}

.greeting {
  margin-bottom: 0px;
}

.greeting .phrase {
  background: #333333;
  color: white;
}

.greeting .phrase.top {
  padding: 10px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
}

.greeting .phrase.bottom {
  width: 98%;
  margin: 0 auto;
  padding: 5px 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content.wrap > h2 {
  padding: 10px;
  border-bottom: 2px solid #333333;
  text-align: left;
}

/* NOTE styles */

.notes.wrap .note.wrap {
  margin: 0 10px 12px;
  padding: 2px;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #E6E8E7;
}

.note.meta {
  /*display: flex;*/
  /*justify-content: sjpace-between;*/
  font-size: 12px;
}

.note.meta > div {
  margin: 8px 2px;
  align-items: center;
}

.note.meta .date-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.note.meta .date-category p {
  margin: 0px;
  border-bottom: 1px solid #333333;
  font-weight: bold;
}

.note.meta .username-topics {
  display: flex;
  justify-content: space-between;
}

.note-configs {
  display: flex;
  justify-content: flex-end;
}

.note-config span {
  font-size: 25px;
  padding: 0 2px 0;
}

.note-link-wrap {
  display: flex;
  width: 90%;
  margin: 10px auto;
  -moz-box-shadow: 0 0 2px 0px #000000;
  -webkit-box-shadow: 0 0 2px 0px #000000;
  box-shadow: 0 0 2px 0px #000000;
}

/* Div Shortener*/
/* http://stackoverflow.com/a/13817751/6664582 */
.note-link {
  width:200px;
  margin: 0 auto;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap; 
}

/* Centering items in flex-box  */

.absolute-center {

/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

}