/* GENERAL STYLES */
.main.wrap {
  min-height: 450px;
  text-align: center;
}

#footer {
  margin-top: 1em;
  text-align: center;
  border-top: 2px solid black;
}

/* Layout styles */

.content.wrap > h2 {
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 0;
}

.note.wrap {
  padding: 40px 10px 20px 10px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.date.topics {
  display: flex;
  justify-content: space-between;
}

/* Centering items in flex-box  */

.absolute-center {

/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

}