<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="brand-color">linkbin</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><a href="/users/<%=current_user(session).slug%>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
          <li><a href="/notes/new"><span class="glyphicon glyphicon-file"></span></a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
        <% else %>
          <li><a href="/signup"><span class="glyphicon glyphicon-plus"></span></a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span></a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>